h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: red;
}
section{
    max-width: 500px;
    margin: 0 auto;
    padding-top: 32px;
    font-size: 24px;
}

img{
    width: 120px;
    height: 120px;
    border-radius: 25%;
}

input{
    cursor: pointer;
}